HW2/test.py
HW2/test2.py
HW2/*.jpg
HW2/images
HW2/*.png
HW2/Report/*
!HW2/res14.jpg
!HW2/res30-hybrid-near.jpg
!HW2/res31-hybrid-far.jpg
!HW2/res15.jpg
!HW2/res19-near.jpg
!HW2/res20-far.jpg
HW3/HW3.pdf
HW3/test.py
HW3/test*
HW3/*.npy
HW3/texture*
HW3/Textures/*
HW3/Report
HW4/__pycache__
HW4/Report
HW4/test*
HW5/test*
HW5/Report
